@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans';
}

h1 {
    margin: 25px;
    padding: 25px;
    position: relative;
    left: 35%;
}

#HeaderP {
    color: rgb(7, 149, 7);
    margin: 0% 20%;
}

.TableOfCons {
    column-count: 2;
    column-fill: balance;
    margin: 0% 20%;
    padding: 2% 0%;
}

section {
    margin: 0% 20%;
}

footer {
    margin: 0% 20%;
}